<!DOCTYPE html>
<html>
<head>
    <title>Album albuma </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}   ">

</head>
<body>
    <div style=" margin: 20px;">
        <a  href="{{ url_for('list_users') }}">Torna alla Home</a>
        <a style="float: inline-end; background-color:rgb(94, 205, 67)" href="{{ request.path.rstrip('/') }}/insert-album">Aggiungi Album</a>
    </div>
    <h1>Lista Album di  {{ArtistId}}</h1>
    <ul>
        {% for album in albums %}

        <li class="album-row">
            <span class="album-id">{{ album['AlbumId'] }}</span>
            <span class="album-title">{{ album['title'] }}</span>
            <form id="delete-album-{{ album['AlbumId'] }}" action="{{ url_for('elimina_album') }}" method="post" style="display:inline;">
                <input type="hidden" name="AlbumId" value="{{ album['AlbumId'] }}">
                <a href="{{ url_for('tracks', AlbumId=album['AlbumId']) }}">tracks per album {{album['AlbumId']}}</a>
                <button type="button" onclick="confirmDelete('{{ album['AlbumId'] }}')">Elimina</button>
</form>
                    {% endfor %}
    </ul>
<script>
function confirmDelete(albumId) {
    if (confirm("Sei sicuro di voler eliminare questo album? L'operazione non è reversibile e cancellerà tutte le canzoni collegate."))
    {
        document.getElementById('delete-album-' + albumId).submit();
    }
}
</script>
</body>
</html>