<!DOCTYPE html>
<html>
<head>
    <title>Lista Utenti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}   ">
</head>
<body>
    <h1>Lista Artisti</h1>
    <ul>
        {% for artist in artists %}
        <li>
            <div class="artist-row">
                <span class="artist-id">{{ artist['Artistid'] }}</span>
                <span class="artist-name">{{ artist['name'] }}</span>
                <a href="{{ url_for('album', ArtistId=artist['Artistid']) }}">Visualizza Album</a>

                <form action="{{ url_for('elimina_artista') }}" method="post" style="display:inline;">
                    <input type="hidden" name="ArtistId" value="{{ artist['Artistid'] }}">
                    <button type="submit">Elimina</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>