<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles/style.css"> -->
    <title>Form inserimento artisti o album</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}   "> 


</head>
<body>
    <div class="container">
        <h1>Modulo per inserimento Artista e album</h1>
        <form id="albumForm" action="/inserisci-artista-album" method="POST">
            <label for="artistName">Nomi del Artista:</label>
            <input type="text" id="artistName" name="artistName" required>

            <label for="albumTitle">Titolo del Album: (opzionale)</label>
            <input type="text" id="albumTitle" name="albumTitle">

            <button type="submit">Inserisci</button>
        </form>
    </div>
</body>
</html>