<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>inserire l'album</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}   "> 

</head>
<body>
    <div class="container">
       <h1>Modulo per l'inserimento di un nuovo album</h1>
        <form action="{{ url_for('inserisci_album', ArtistId=ArtistId) }}" method="post">    
            <label for="albumTitle">Titolo del Album:</label>
            <input type="text" name="albumTitle" placeholder="Titolo dell'album" required>
            <button type="submit" >inserisci album</button>
         </form>
    </div>

</body>
</html>